.tag-container {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 2vh 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;

}

.tag {
        flex: 0 1 auto; 
        display: flex; 
}

@media (max-width: 600px) {
    .tag-container {
        justify-content: flex-start; 
    }
}