.body-container {
    display: flex;
    height: calc(100% - 5vh);
    gap: 5vh;
    margin: 0vh 5vh;
}

.right-pane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    .body-container {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .right-pane{
        width: 100%;
    }
}